# Site settings
title: Anyways
description: 'Anyways - Edit, test and publish alternative transport schemes'
url: 'http://anyways-open.github.io/jekyll-uno' 
baseurl: '/jekyll-uno/'
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'Anyways'
  email: info@anyways.eu
  twitter_username: joshgerdes
  facebook_username: joshgerdes
  github_username:  anyways-open
  linkedin_username:  joshgerdes

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
